<div class="input-group" style="width: 100%;">

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7736695762519033"
     crossorigin="anonymous"></script>
<!-- bottom -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-7736695762519033"
     data-ad-slot="2909163359"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>

</div>