<script src="//cdn.jsdelivr.net/npm/dplayer@1.27.1/dist/DPlayer.min.js"></script>
<div class="container" style="padding-top:60px;">

    <div class="col-md-14 column">
        <div class="panel panel-default">
            <div id="m3u8_video" class="panel-body"></div>
        </div>
    </div>

    <div class="col-md-14 column">
        <form method="get">
        
        <center class="input-group" style="width: 100%;">
            <div id="stats"></div>
        </center>
        
        {% include ad.html %}
         
        <div class="input-group" style="width: 100%;">
            <span  class="input-group-addon input-lg" style="width: 80px;">播放地址</span>
            <input class="form-control input-lg" type="text" placeholder="输入播放地址[.m3u8]" id="url">
        </div>
        
        <br />


        <div id="id_interface" class="table-responsive" style="display: none;">
          <table class="table">
             <tr>
                <td class="active">外接地址</td>
                <td class="active">
                    <a id="id_url" target="_blank" href=""></a>
                </td>
            </tr>
          </table>
        </div>


        <div>
            <button type="button" class="btn btn-success btn-lg btn-block" onclick="player_begin()">
                立即播放
            </button>
        </div>
        </form>
    </div>
    <br>
</div>


<script type="text/javascript">


const dp = new DPlayer({
    container: document.getElementById('m3u8_video'),
    video: {
        url: '{{player_addr}}',
        autoplay:true,
        lang:'zh-cn',
        screenshot:true,
    }
});

function player(video_url){
    showUrl(video_url);
    dp.switchVideo({url: video_url,});
    dp.play();
}

</script>