<p style="text-align:center;" class="p_img">
    <!-- baidu 统计 start -->
    <a href="https://tongji.baidu.com/web/welcome/ico?s=c66706e0fc1b6293a62f8eba588390ec" target="_blank"><img border="0" src="https://hmcdn.baidu.com/static/hmt/icon/41.gif" width="67" height="18"></a>
    <!-- baidu 统计 end -->
</p>


<!-- Global site tag (gtag.js) - Google Analytics -->
<!-- <script async src="https://www.googletagmanager.com/gtag/js?id=UA-21412896-4"></script> -->
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-21412896-4');
</script>


<script type="text/javascript" src="https://js.users.51.la/3071657.js?t=1"></script>